<table style="border: 1px solid;">
  <tr>
    <th>Id</th>
    <th>Username</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Active</th>
  </tr>
  <tr *ngFor="let user of myUsersData$ | async">
    <td>{{user.id}}</td>
    <td>{{user.username}}</td>
    <td>{{user.firstname}}</td>
    <td>{{user.lastname}}</td>
    <td>{{user.active}}</td>
  </tr>
</table>
<br/><br/>
<h2>Reactive Form</h2>
<form [formGroup]="userForm">
  <input type="text" placeholder="Enter username" formControlName="username"/>
  <br/><br/>
  <input type="text" placeholder="Enter first name" formControlName="firstname"/>
  <br/><br/>
  <input type="text" placeholder="Enter last name" formControlName="lastname"/>
  <br/><br/>
</form>


<p>Username: {{ userForm.value.username }}</p>
<p>First Name: {{ userForm.value.firstname }}</p>
<p>Last Name: {{ userForm.value.lastname }}</p>



